In [114]:
import pandas as pd
import numpy as np

In [168]:
강원도_기 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024강원도기온.csv", encoding='euc-kr', skiprows=7)
경기도_기 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024경기도기온.csv", encoding='euc-kr', skiprows=7)
경남_기 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024경남기온.csv", encoding='euc-kr', skiprows=7)
경북_기 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024경북기온.csv", encoding='euc-kr', skiprows=7)
광주_기 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024광주기온.csv", encoding='euc-kr', skiprows=7)
대구_기 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024대구기온.csv", encoding='euc-kr', skiprows=7)
대전_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024대전기온.csv", encoding='euc-kr', skiprows=7)
부산_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024부산기온.csv", encoding='euc-kr', skiprows=7)
서울_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024서울기온.csv", encoding='euc-kr', skiprows=7)
세종_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024세종기온.csv", encoding='euc-kr', skiprows=7)
울산_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024울산기온.csv", encoding='euc-kr', skiprows=7)
인천_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024인천기온.csv", encoding='euc-kr', skiprows=7)
전남_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024전남기온.csv", encoding='euc-kr', skiprows=7)
전북_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024전북기온.csv", encoding='euc-kr', skiprows=7)
충남_기= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024충남기온.csv", encoding='euc-kr', skiprows=7)
충북_기 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024충북기온.csv", encoding='euc-kr', skiprows=7)
제주_기 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온\2022~2024제주기온.csv", encoding='euc-kr', skiprows=7)

강원도_풍 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024강원도풍속.csv", encoding='euc-kr', skiprows=14)
경기도_풍 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024경기도풍속.csv", encoding='euc-kr', skiprows=13)
경남_풍 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024경남풍속.csv", encoding='euc-kr', skiprows=14)
경북_풍 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024경북풍속.csv", encoding='euc-kr', skiprows=14)
광주_풍 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024광주풍속.csv", encoding='euc-kr', skiprows=14)
대구_풍 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024대구풍속.csv", encoding='euc-kr', skiprows=14)
대전_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024대전풍속.csv", encoding='euc-kr', skiprows=14)
부산_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024부산풍속.csv", encoding='euc-kr', skiprows=14)
서울_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024서울풍속.csv", encoding='euc-kr', skiprows=14)
세종_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024세종풍속.csv", encoding='euc-kr', skiprows=14)
울산_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024울산풍속.csv", encoding='euc-kr', skiprows=14)
인천_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024인천풍속.csv", encoding='euc-kr', skiprows=14)
전남_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024전남풍속.csv", encoding='euc-kr', skiprows=14)
전북_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024전북풍속.csv", encoding='euc-kr', skiprows=14)
충남_풍= pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024충남풍속.csv", encoding='euc-kr', skiprows=14)
충북_풍 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024충북풍속.csv", encoding='euc-kr', skiprows=14)
제주_풍 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\풍속\2022~2024제주풍속.csv", encoding='euc-kr', skiprows=14)

# 기온

In [169]:
강원도_기.head()

              년월   지점  평균기온(℃)  평균최저기온(℃)  평균최고기온(℃)
0  \t\t\t2022-01  101     -4.2      -10.4        3.0
1  \t\t\t2022-02  101     -2.4       -9.5        4.9
2  \t\t\t2022-03  101      6.6        0.3       13.2
3  \t\t\t2022-04  101     14.0        6.5       21.6
4  \t\t\t2022-05  101     18.1       10.8       25.3

In [170]:
강원도_기['년월'] = 강원도_기['년월'].str[3:]
경기도_기['년월'] = 경기도_기['년월'].str[3:]
경남_기['년월'] = 경남_기['년월'].str[3:]
경북_기['년월'] = 경북_기['년월'].str[3:]
광주_기['년월'] = 광주_기['년월'].str[3:]
대구_기['년월'] = 대구_기['년월'].str[3:]
대전_기['년월'] = 대전_기['년월'].str[3:]
부산_기['년월'] = 부산_기['년월'].str[3:]
서울_기['년월'] = 서울_기['년월'].str[3:]
세종_기['년월'] = 세종_기['년월'].str[3:]
울산_기['년월'] = 울산_기['년월'].str[3:]
인천_기['년월'] = 인천_기['년월'].str[3:]
전남_기['년월'] = 전남_기['년월'].str[3:]
전북_기['년월'] = 전북_기['년월'].str[3:]
충남_기['년월'] = 충남_기['년월'].str[3:]
충북_기['년월'] = 충북_기['년월'].str[3:]
제주_기['년월'] = 제주_기['년월'].str[3:]

In [171]:
강원도_기

         년월   지점  평균기온(℃)  평균최저기온(℃)  평균최고기온(℃)
0   2022-01  101     -4.2      -10.4        3.0
1   2022-02  101     -2.4       -9.5        4.9
2   2022-03  101      6.6        0.3       13.2
3   2022-04  101     14.0        6.5       21.6
4   2022-05  101     18.1       10.8       25.3
5   2022-06  101     22.6       18.3       27.4
6   2022-07  101     26.6       23.0       31.3
7   2022-08  101     25.2       22.1       29.0
8   2022-09  101     20.5       15.8       26.7
9   2022-10  101     12.7        7.9       19.4
10  2022-11  101      7.5        1.8       14.7
11  2022-12  101     -4.9      -10.0        1.2
12  2023-01  101     -4.1       -9.5        2.2
13  2023-02  101      0.3       -5.5        6.9
14  2023-03  101      8.0        0.1       16.3
15  2023-04  101     12.5        6.2       18.7
16  2023-05  101     18.0       11.3       24.7
17  2023-06  101     22.5       17.4       28.1
18  2023-07  101     25.9       22.2       30.7
19  2023-08  101     26.0       22.3       30.6
20  2023-09  101     21.9       18.1       27.1
21  2023-10  101     12.9        7.8       19.6
22  2023-11  101      5.2       -0.2       11.1
23  2023-12  101     -0.8       -5.7        4.6
24  2024-01  101     -2.1       -7.1        3.5
25  2024-02  101      2.1       -2.6        7.8
26  2024-03  101      5.5       -1.0       12.0
27  2024-04  101     15.0        8.2       22.0
28  2024-05  101     17.4       10.8       24.1
29  2024-06  101     23.5       16.9       29.9
30  2024-07  101     25.8       22.7       29.7
31  2024-08  101     28.0       24.3       32.9
32  2024-09  101     23.3       19.5       28.1
33  2024-10  101     14.5       10.2       19.8
34  2024-11  101      7.6        2.1       14.4
35  2024-12  101     -1.6       -7.2        4.6

In [172]:
# '년월' 열을 datetime 형식으로 변환
강원도_기['년월'] = pd.to_datetime(강원도_기['년월'], format='%Y-%m')
경기도_기['년월'] = pd.to_datetime(경기도_기['년월'], format='%Y-%m')
경남_기['년월'] = pd.to_datetime(경남_기['년월'], format='%Y-%m')
경북_기['년월'] = pd.to_datetime(경북_기['년월'], format='%Y-%m')
광주_기['년월'] = pd.to_datetime(광주_기['년월'], format='%Y-%m')
대구_기['년월'] = pd.to_datetime(대구_기['년월'], format='%Y-%m')
대전_기['년월'] = pd.to_datetime(대전_기['년월'], format='%Y-%m')
부산_기['년월'] = pd.to_datetime(부산_기['년월'], format='%Y-%m')
서울_기['년월'] = pd.to_datetime(서울_기['년월'], format='%Y-%m')
세종_기['년월'] = pd.to_datetime(세종_기['년월'], format='%Y-%m')
울산_기['년월'] = pd.to_datetime(울산_기['년월'], format='%Y-%m')
인천_기['년월'] = pd.to_datetime(인천_기['년월'], format='%Y-%m')
전남_기['년월'] = pd.to_datetime(전남_기['년월'], format='%Y-%m')
전북_기['년월'] = pd.to_datetime(전북_기['년월'], format='%Y-%m')
제주_기['년월'] = pd.to_datetime(제주_기['년월'], format='%Y-%m')
충남_기['년월'] = pd.to_datetime(충남_기['년월'], format='%Y-%m')
충북_기['년월'] = pd.to_datetime(충북_기['년월'], format='%Y-%m')


# 변환된 데이터프레임 확인
print(강원도_기.head())

          년월   지점  평균기온(℃)  평균최저기온(℃)  평균최고기온(℃)
0 2022-01-01  101     -4.2      -10.4        3.0
1 2022-02-01  101     -2.4       -9.5        4.9
2 2022-03-01  101      6.6        0.3       13.2
3 2022-04-01  101     14.0        6.5       21.6
4 2022-05-01  101     18.1       10.8       25.3

In [173]:
# 지점명 변경
강원도_기['SIDO_NM'] = '강원특별자치도'
경기도_기['SIDO_NM'] = '경기도'
경남_기['SIDO_NM'] = '경상남도'
경북_기['SIDO_NM'] = '경상북도'
광주_기['SIDO_NM'] = '광주광역시'
대구_기['SIDO_NM'] = '대구광역시'
대전_기['SIDO_NM'] = '대전광역시'
부산_기['SIDO_NM'] = '부산광역시'
서울_기['SIDO_NM'] = '서울특별시'
세종_기['SIDO_NM'] = '세종특별자치시'
울산_기['SIDO_NM'] = '울산광역시'
인천_기['SIDO_NM'] = '인천광역시'
전남_기['SIDO_NM'] = '전라남도'
전북_기['SIDO_NM'] = '전북특별자치도'
제주_기['SIDO_NM'] = '제주특별자치도'
충남_기['SIDO_NM'] = '충청남도'
충북_기['SIDO_NM'] = '충청북도'

In [174]:
# 삭제할 년월 값 리스트
삭제할_년월 = ['2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-09', '2023-02', '2023-04', '2023-05','2024-11','2024-12']

# '년월' 열에서 삭제할 값이 아닌 행만 선택
강원도_기 = 강원도_기[~강원도_기['년월'].isin(삭제할_년월)]
경기도_기 = 경기도_기[~경기도_기['년월'].isin(삭제할_년월)]
경남_기 = 경남_기[~경남_기['년월'].isin(삭제할_년월)]
경북_기 = 경북_기[~경북_기['년월'].isin(삭제할_년월)]
광주_기 = 광주_기[~광주_기['년월'].isin(삭제할_년월)]
대구_기 = 대구_기[~대구_기['년월'].isin(삭제할_년월)]
대전_기 = 대전_기[~대전_기['년월'].isin(삭제할_년월)]
부산_기 = 부산_기[~부산_기['년월'].isin(삭제할_년월)]
서울_기 = 서울_기[~서울_기['년월'].isin(삭제할_년월)]
세종_기 = 세종_기[~세종_기['년월'].isin(삭제할_년월)]
울산_기 = 울산_기[~울산_기['년월'].isin(삭제할_년월)]
인천_기 = 인천_기[~인천_기['년월'].isin(삭제할_년월)]
전남_기 = 전남_기[~전남_기['년월'].isin(삭제할_년월)]
전북_기 = 전북_기[~전북_기['년월'].isin(삭제할_년월)]
제주_기 = 제주_기[~제주_기['년월'].isin(삭제할_년월)]
충남_기 = 충남_기[~충남_기['년월'].isin(삭제할_년월)]
충북_기 = 충북_기[~충북_기['년월'].isin(삭제할_년월)]

C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:5: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  강원도_기 = 강원도_기[~강원도_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:6: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  경기도_기 = 경기도_기[~경기도_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:7: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  경남_기 = 경남_기[~경남_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:8: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  경북_기 = 경북_기[~경북_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:9: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  광주_기 = 광주_기[~광주_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:10: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  대구_기 = 대구_기[~대구_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:11: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  대전_기 = 대전_기[~대전_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:12: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  부산_기 = 부산_기[~부산_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:13: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  서울_기 = 서울_기[~서울_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:14: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  세종_기 = 세종_기[~세종_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:15: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  울산_기 = 울산_기[~울산_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:16: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  인천_기 = 인천_기[~인천_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:17: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  전남_기 = 전남_기[~전남_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:18: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  전북_기 = 전북_기[~전북_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:19: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  제주_기 = 제주_기[~제주_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:20: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  충남_기 = 충남_기[~충남_기['년월'].isin(삭제할_년월)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\4034642151.py:21: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  충북_기 = 충북_기[~충북_기['년월'].isin(삭제할_년월)]

In [175]:
강원도_기

           년월   지점  평균기온(℃)  평균최저기온(℃)  평균최고기온(℃)  SIDO_NM
6  2022-07-01  101     26.6       23.0       31.3  강원특별자치도
7  2022-08-01  101     25.2       22.1       29.0  강원특별자치도
9  2022-10-01  101     12.7        7.9       19.4  강원특별자치도
10 2022-11-01  101      7.5        1.8       14.7  강원특별자치도
11 2022-12-01  101     -4.9      -10.0        1.2  강원특별자치도
12 2023-01-01  101     -4.1       -9.5        2.2  강원특별자치도
14 2023-03-01  101      8.0        0.1       16.3  강원특별자치도
17 2023-06-01  101     22.5       17.4       28.1  강원특별자치도
18 2023-07-01  101     25.9       22.2       30.7  강원특별자치도
19 2023-08-01  101     26.0       22.3       30.6  강원특별자치도
20 2023-09-01  101     21.9       18.1       27.1  강원특별자치도
21 2023-10-01  101     12.9        7.8       19.6  강원특별자치도
22 2023-11-01  101      5.2       -0.2       11.1  강원특별자치도
23 2023-12-01  101     -0.8       -5.7        4.6  강원특별자치도
24 2024-01-01  101     -2.1       -7.1        3.5  강원특별자치도
25 2024-02-01  101      2.1       -2.6        7.8  강원특별자치도
26 2024-03-01  101      5.5       -1.0       12.0  강원특별자치도
27 2024-04-01  101     15.0        8.2       22.0  강원특별자치도
28 2024-05-01  101     17.4       10.8       24.1  강원특별자치도
29 2024-06-01  101     23.5       16.9       29.9  강원특별자치도
30 2024-07-01  101     25.8       22.7       29.7  강원특별자치도
31 2024-08-01  101     28.0       24.3       32.9  강원특별자치도
32 2024-09-01  101     23.3       19.5       28.1  강원특별자치도
33 2024-10-01  101     14.5       10.2       19.8  강원특별자치도

In [176]:
# 년월 변경
강원도_기['DATA_YM'] = 강원도_기['년월']
경기도_기['DATA_YM'] = 경기도_기['년월']
경남_기['DATA_YM'] = 경남_기['년월']
경북_기['DATA_YM'] = 경북_기['년월']
광주_기['DATA_YM'] = 광주_기['년월']
대구_기['DATA_YM'] = 대구_기['년월']
대전_기['DATA_YM'] = 대전_기['년월']
부산_기['DATA_YM'] = 부산_기['년월']
서울_기['DATA_YM'] = 서울_기['년월']
세종_기['DATA_YM'] = 세종_기['년월']
울산_기['DATA_YM'] = 울산_기['년월']
인천_기['DATA_YM'] = 인천_기['년월']
전남_기['DATA_YM'] = 전남_기['년월']
전북_기['DATA_YM'] = 전북_기['년월']
제주_기['DATA_YM'] = 제주_기['년월']
충남_기['DATA_YM'] = 충남_기['년월']
충북_기['DATA_YM'] = 충북_기['년월']

C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\2855078773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  강원도_기['DATA_YM'] = 강원도_기['년월']

In [177]:
강원도_기 = 강원도_기[['DATA_YM','평균기온(℃)']]
경기도_기 = 경기도_기[['DATA_YM','평균기온(℃)']]
경남_기 = 경남_기[['DATA_YM','평균기온(℃)']]
경북_기 = 경북_기[['DATA_YM','평균기온(℃)']]
광주_기 = 광주_기[['DATA_YM','평균기온(℃)']]
대구_기 = 대구_기[['DATA_YM','평균기온(℃)']]
대전_기 = 대전_기[['DATA_YM','평균기온(℃)']]
부산_기 = 부산_기[['DATA_YM','평균기온(℃)']]
서울_기 = 서울_기[['DATA_YM','평균기온(℃)']]
세종_기 = 세종_기[['DATA_YM','평균기온(℃)']]
울산_기 = 울산_기[['DATA_YM','평균기온(℃)']]
인천_기 = 인천_기[['DATA_YM','평균기온(℃)']]
전남_기 = 전남_기[['DATA_YM','평균기온(℃)']]
전북_기 = 전북_기[['DATA_YM','평균기온(℃)']]
충남_기 = 충남_기[['DATA_YM','평균기온(℃)']]
충북_기 = 충북_기[['DATA_YM','평균기온(℃)']]
제주_기 = 제주_기[['DATA_YM','평균기온(℃)']]

# 풍속

In [179]:
전북_풍.head()

   \t\t지역번호 지역명        일시  평균풍속(m/s)  최대풍속(m/s) 최대풍속지점  최대순간풍속(m/s) 최대순간풍속지점
0         8  전북   2024-12        1.5       12.0     군산         19.7       군산
1         8  전북   2024-11        1.5       15.0     고창         24.3       군산
2         8  전북   2024-10        1.3       10.2     군산         16.5       고창
3         8  전북   2024-09        1.3       10.5     군산         15.9       군산
4         8  전북   2024-08        1.5       10.2     고창         18.2       고창

In [180]:
경기도_풍['일시'] = pd.to_datetime(경기도_풍['일시'].str.strip(), format='%Y-%m')
전북_풍['일시'] = pd.to_datetime(전북_풍['일시'].str.strip(), format='%Y-%m')

In [181]:
# '일시' 열을 datetime 형식으로 변환
강원도_풍['일시'] = pd.to_datetime(강원도_풍['일시'], format='%Y-%m')
경기도_풍['일시'] = pd.to_datetime(경기도_풍['일시'], format='%Y-%m')
경남_풍['일시'] = pd.to_datetime(경남_풍['일시'], format='%Y-%m')
경북_풍['일시'] = pd.to_datetime(경북_풍['일시'], format='%Y-%m')
광주_풍['일시'] = pd.to_datetime(광주_풍['일시'], format='%Y-%m')
대구_풍['일시'] = pd.to_datetime(대구_풍['일시'], format='%Y-%m')
대전_풍['일시'] = pd.to_datetime(대전_풍['일시'], format='%Y-%m')
부산_풍['일시'] = pd.to_datetime(부산_풍['일시'], format='%Y-%m')
서울_풍['일시'] = pd.to_datetime(서울_풍['일시'], format='%Y-%m')
세종_풍['일시'] = pd.to_datetime(세종_풍['일시'], format='%Y-%m')
울산_풍['일시'] = pd.to_datetime(울산_풍['일시'], format='%Y-%m')
인천_풍['일시'] = pd.to_datetime(인천_풍['일시'], format='%Y-%m')
전남_풍['일시'] = pd.to_datetime(전남_풍['일시'], format='%Y-%m')
전북_풍['일시'] = pd.to_datetime(전북_풍['일시'], format='%Y-%m')
제주_풍['일시'] = pd.to_datetime(제주_풍['일시'], format='%Y-%m')
충남_풍['일시'] = pd.to_datetime(충남_풍['일시'], format='%Y-%m')
충북_풍['일시'] = pd.to_datetime(충북_풍['일시'], format='%Y-%m')

In [182]:
강원도_풍

,\t\t지점번호,지점명,일시,평균풍속(m/s),최대풍속(m/s),최대풍속풍향(deg),\t최대풍속일자,최대순간풍속(m/s),최대순간풍속풍향(deg),\t최대순간풍속일자,\t
0,101,춘천,2022-01-01,1.0,5.7,290,2022-01-17,8.6,320,2022-01-17,NaN
1,101,춘천,2022-02-01,1.6,6.3,250,2022-02-14,10.6,250,2022-02-26,NaN
2,101,춘천,2022-03-01,1.6,6.6,250,2022-03-05,11.7,250,2022-03-04,NaN
3,101,춘천,2022-04-01,1.7,5.9,230,2022-04-07,8.8,20,2022-04-13,NaN
4,101,춘천,2022-05-01,1.7,6.3,250,2022-05-01,10.7,250,2022-05-01,NaN
5,101,춘천,2022-06-01,1.7,6.5,70,2022-06-14,10.2,20,2022-06-14,NaN
6,101,춘천,2022-07-01,1.3,5.0,90,2022-07-04,7.7,50,2022-07-04,NaN
7,101,춘천,2022-08-01,1.2,5.8,180,2022-08-15,8.7,230,2022-08-15,NaN
8,101,춘천,2022-09-01,1.5,6.4,20,2022-09-19,8.7,250,2022-09-23,NaN
9,101,춘천,2022-10-01,1.1,6.6,320,2022-10-03,10.2,320,2022-10-03,NaN
10,101,춘천,2022-11-01,0.9,5.7,250,2022-11-30,9.0,270,2022-11-26,NaN
11,101,춘천,2022-12-01,1.2,7.6,270,2022-12-13,12.9,270,2022-12-13,NaN
12,101,춘천,2023-01-01,1.2,5.8,290,2023-01-28,11.3,270,2023-01-20,NaN
13,101,춘천,2023-02-01,1.3,6.7,250,2023-02-01,11.2,230,2023-02-01,NaN
14,101,춘천,2023-03-01,1.5,7.2,270,2023-03-12,13.4,290,2023-03-12,NaN
15,101,춘천,2023-04-01,1.8,7.8,270,2023-04-16,15.2,340,2023-04-16,NaN
16,101,춘천,2023-05-01,1.6,7.4,230,2023-05-17,12.4,160,2023-05-18,NaN
17,101,춘천,2023-06-01,1.6,6.8,290,2023-06-10,10.7,290,2023-06-10,NaN
18,101,춘천,2023-07-01,1.3,7.5,320,2023-07-09,13.1,290,2023-07-09,NaN
19,101,춘천,2023-08-01,1.6,6.7,290,2023-08-10,12.5,20,2023-08-10,NaN
20,101,춘천,2023-09-01,1.5,4.9,340,2023-09-30,8.5,340,2023-09-30,NaN
21,101,춘천,2023-10-01,1.1,6.1,290,2023-10-20,10.8,250,2023-10-20,NaN
22,101,춘천,2023-11-01,1.5,8.0,200,2023-11-06,16.1,250,2023-11-06,NaN
23,101,춘천,2023-12-01,1.4,7.3,250,2023-12-16,12.4,250,2023-12-16,NaN
24,101,춘천,2024-01-01,1.3,6.4,200,2024-01-22,11.1,340,2024-01-20,NaN
25,101,춘천,2024-02-01,1.5,6.2,50,2024-02-05,10.0,20,2024-02-05,NaN
26,101,춘천,2024-03-01,1.6,7.0,230,2024-03-02,13.4,270,2024-03-01,NaN
27,101,춘천,2024-04-01,1.7,7.2,50,2024-04-30,11.4,20,2024-04-30,NaN
28,101,춘천,2024-05-01,1.6,5.8,230,2024-05-31,10.1,90,2024-05-07,NaN
29,101,춘천,2024-06-01,1.4,5.3,50,2024-06-03,9.6,50,2024-06-03,NaN
30,101,춘천,2024-07-01,1.3,7.0,200,2024-07-21,18.4,250,2024-07-23,NaN
31,101,춘천,2024-08-01,0.9,7.7,180,2024-08-05,18.0,250,2024-08-05,NaN
32,101,춘천,2024-09-01,1.4,7.9,50,2024-09-20,13.9,50,2024-09-20,NaN
33,101,춘천,2024-10-01,1.2,6.7,50,2024-10-20,10.9,250,2024-10-23,NaN
34,101,춘천,2024-11-01,1.1,9.3,230,2024-11-26,17.4,230,2024-11-26,NaN
35,101,춘천,2024-12-01,1.2,5.9,230,2024-12-21,9.9,270,2024-12-27,NaN

In [183]:
# 지점명 변경
강원도_풍['SIDO_NM'] = '강원특별자치도'
경기도_풍['SIDO_NM'] = '경기도'
경남_풍['SIDO_NM'] = '경상남도'
경북_풍['SIDO_NM'] = '경상북도'
광주_풍['SIDO_NM'] = '광주광역시'
대구_풍['SIDO_NM'] = '대구광역시'
대전_풍['SIDO_NM'] = '대전광역시'
부산_풍['SIDO_NM'] = '부산광역시'
서울_풍['SIDO_NM'] = '서울특별시'
세종_풍['SIDO_NM'] = '세종특별자치시'
울산_풍['SIDO_NM'] = '울산광역시'
인천_풍['SIDO_NM'] = '인천광역시'
전남_풍['SIDO_NM'] = '전라남도'
전북_풍['SIDO_NM'] = '전북특별자치도'
제주_풍['SIDO_NM'] = '제주특별자치도'
충남_풍['SIDO_NM'] = '충청남도'
충북_풍['SIDO_NM'] = '충청북도'

In [184]:
강원도_풍 = 강원도_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
경기도_풍 = 경기도_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
경남_풍 = 경남_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
경북_풍 = 경북_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
광주_풍 = 광주_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
대구_풍 = 대구_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
대전_풍 = 대전_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
부산_풍 = 부산_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
서울_풍 = 서울_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
세종_풍 = 세종_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
울산_풍 = 울산_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
인천_풍 = 인천_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
전남_풍 = 전남_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
전북_풍 = 전북_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
충남_풍 = 충남_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
충북_풍 = 충북_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]
제주_풍 = 제주_풍[['일시','평균풍속(m/s)', 'SIDO_NM']]

In [185]:
# 삭제할 일시 값 리스트
삭제할_일시 = ['2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-09', '2023-02', '2023-04', '2023-05','2024-11','2024-12']

# '일시' 열에서 삭제할 값이 아닌 행만 선택
강원도_풍 = 강원도_풍[~강원도_풍['일시'].isin(삭제할_일시)]
경기도_풍 = 경기도_풍[~경기도_풍['일시'].isin(삭제할_일시)]
경남_풍 = 경남_풍[~경남_풍['일시'].isin(삭제할_일시)]
경북_풍 = 경북_풍[~경북_풍['일시'].isin(삭제할_일시)]
광주_풍 = 광주_풍[~광주_풍['일시'].isin(삭제할_일시)]
대구_풍 = 대구_풍[~대구_풍['일시'].isin(삭제할_일시)]
대전_풍 = 대전_풍[~대전_풍['일시'].isin(삭제할_일시)]
부산_풍 = 부산_풍[~부산_풍['일시'].isin(삭제할_일시)]
서울_풍 = 서울_풍[~서울_풍['일시'].isin(삭제할_일시)]
세종_풍 = 세종_풍[~세종_풍['일시'].isin(삭제할_일시)]
울산_풍 = 울산_풍[~울산_풍['일시'].isin(삭제할_일시)]
인천_풍 = 인천_풍[~인천_풍['일시'].isin(삭제할_일시)]
전남_풍 = 전남_풍[~전남_풍['일시'].isin(삭제할_일시)]
전북_풍 = 전북_풍[~전북_풍['일시'].isin(삭제할_일시)]
제주_풍 = 제주_풍[~제주_풍['일시'].isin(삭제할_일시)]
충남_풍 = 충남_풍[~충남_풍['일시'].isin(삭제할_일시)]
충북_풍 = 충북_풍[~충북_풍['일시'].isin(삭제할_일시)]

C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:5: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  강원도_풍 = 강원도_풍[~강원도_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:6: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  경기도_풍 = 경기도_풍[~경기도_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:7: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  경남_풍 = 경남_풍[~경남_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:8: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  경북_풍 = 경북_풍[~경북_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:9: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  광주_풍 = 광주_풍[~광주_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:10: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  대구_풍 = 대구_풍[~대구_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:11: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  대전_풍 = 대전_풍[~대전_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:12: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  부산_풍 = 부산_풍[~부산_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:13: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  서울_풍 = 서울_풍[~서울_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:14: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  세종_풍 = 세종_풍[~세종_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:15: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  울산_풍 = 울산_풍[~울산_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:16: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  인천_풍 = 인천_풍[~인천_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:17: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  전남_풍 = 전남_풍[~전남_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:18: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  전북_풍 = 전북_풍[~전북_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:19: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  제주_풍 = 제주_풍[~제주_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:20: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  충남_풍 = 충남_풍[~충남_풍['일시'].isin(삭제할_일시)]
C:\Users\dlwng\AppData\Local\Temp\ipykernel_4892\815464480.py:21: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  충북_풍 = 충북_풍[~충북_풍['일시'].isin(삭제할_일시)]

In [186]:
# 일시 변경
강원도_풍['DATA_YM'] = 강원도_풍['일시']
경기도_풍['DATA_YM'] = 경기도_풍['일시']
경남_풍['DATA_YM'] = 경남_풍['일시']
경북_풍['DATA_YM'] = 경북_풍['일시']
광주_풍['DATA_YM'] = 광주_풍['일시']
대구_풍['DATA_YM'] = 대구_풍['일시']
대전_풍['DATA_YM'] = 대전_풍['일시']
부산_풍['DATA_YM'] = 부산_풍['일시']
서울_풍['DATA_YM'] = 서울_풍['일시']
세종_풍['DATA_YM'] = 세종_풍['일시']
울산_풍['DATA_YM'] = 울산_풍['일시']
인천_풍['DATA_YM'] = 인천_풍['일시']
전남_풍['DATA_YM'] = 전남_풍['일시']
전북_풍['DATA_YM'] = 전북_풍['일시']
제주_풍['DATA_YM'] = 제주_풍['일시']
충남_풍['DATA_YM'] = 충남_풍['일시']
충북_풍['DATA_YM'] = 충북_풍['일시']

In [187]:
강원도_풍 = 강원도_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
경기도_풍 = 경기도_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
경남_풍 = 경남_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
경북_풍 = 경북_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
광주_풍 = 광주_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
대구_풍 = 대구_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
대전_풍 = 대전_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
부산_풍 = 부산_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
서울_풍 = 서울_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
세종_풍 = 세종_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
울산_풍 = 울산_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
인천_풍 = 인천_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
전남_풍 = 전남_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
전북_풍 = 전북_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
충남_풍 = 충남_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
충북_풍 = 충북_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]
제주_풍 = 제주_풍[['DATA_YM','평균풍속(m/s)', 'SIDO_NM']]

In [189]:
전북_풍

      DATA_YM  평균풍속(m/s)  SIDO_NM
2  2024-10-01        1.3  전북특별자치도
3  2024-09-01        1.3  전북특별자치도
4  2024-08-01        1.5  전북특별자치도
5  2024-07-01        2.1  전북특별자치도
6  2024-06-01        1.6  전북특별자치도
7  2024-05-01        1.9  전북특별자치도
8  2024-04-01        1.5  전북특별자치도
9  2024-03-01        2.0  전북특별자치도
10 2024-02-01        1.6  전북특별자치도
11 2024-01-01        1.5  전북특별자치도
12 2023-12-01        1.5  전북특별자치도
13 2023-11-01        1.8  전북특별자치도
14 2023-10-01        1.3  전북특별자치도
15 2023-09-01        1.2  전북특별자치도
16 2023-08-01        1.4  전북특별자치도
17 2023-07-01        1.6  전북특별자치도
18 2023-06-01        1.6  전북특별자치도
21 2023-03-01        1.7  전북특별자치도
23 2023-01-01        1.5  전북특별자치도
24 2022-12-01        1.4  전북특별자치도
25 2022-11-01        1.3  전북특별자치도
26 2022-10-01        1.4  전북특별자치도
28 2022-08-01        1.7  전북특별자치도
29 2022-07-01        1.6  전북특별자치도

In [190]:
# 데이터프레임 병합
강원도 = pd.merge(강원도_풍, 강원도_기, on='DATA_YM', how='inner')
경기도 = pd.merge(경기도_풍, 경기도_기, on='DATA_YM', how='inner')
경남 = pd.merge(경남_풍, 경남_기, on='DATA_YM', how='inner')
경북 = pd.merge(경북_풍, 경북_기, on='DATA_YM', how='inner')
광주 = pd.merge(광주_풍, 광주_기, on='DATA_YM', how='inner')
대구 = pd.merge(대구_풍, 대구_기, on='DATA_YM', how='inner')
대전 = pd.merge(대전_풍, 대전_기, on='DATA_YM', how='inner')
부산 = pd.merge(부산_풍, 부산_기, on='DATA_YM', how='inner')
서울 = pd.merge(서울_풍, 서울_기, on='DATA_YM', how='inner')
세종 = pd.merge(세종_풍, 세종_기, on='DATA_YM', how='inner')
울산 = pd.merge(울산_풍, 울산_기, on='DATA_YM', how='inner')
인천 = pd.merge(인천_풍, 인천_기, on='DATA_YM', how='inner')
전남 = pd.merge(전남_풍, 전남_기, on='DATA_YM', how='inner')
전북 = pd.merge(전북_풍, 전북_기, on='DATA_YM', how='inner')
제주 = pd.merge(제주_풍, 제주_기, on='DATA_YM', how='inner')
충남 = pd.merge(충남_풍, 충남_기, on='DATA_YM', how='inner')
충북 = pd.merge(충북_풍, 충북_기, on='DATA_YM', how='inner')

In [191]:
전북

      DATA_YM  평균풍속(m/s)  SIDO_NM  평균기온(℃)
0  2024-10-01        1.3  전북특별자치도     16.2
1  2024-09-01        1.3  전북특별자치도     25.4
2  2024-08-01        1.5  전북특별자치도     28.0
3  2024-07-01        2.1  전북특별자치도     26.7
4  2024-06-01        1.6  전북특별자치도     22.6
5  2024-05-01        1.9  전북특별자치도     17.7
6  2024-04-01        1.5  전북특별자치도     14.9
7  2024-03-01        2.0  전북특별자치도      6.8
8  2024-02-01        1.6  전북특별자치도      4.6
9  2024-01-01        1.5  전북특별자치도      1.2
10 2023-12-01        1.5  전북특별자치도      3.1
11 2023-11-01        1.8  전북특별자치도      8.1
12 2023-10-01        1.3  전북특별자치도     14.8
13 2023-09-01        1.2  전북특별자치도     22.7
14 2023-08-01        1.4  전북특별자치도     26.6
15 2023-07-01        1.6  전북특별자치도     25.7
16 2023-06-01        1.6  전북특별자치도     22.4
17 2023-03-01        1.7  전북특별자치도      8.8
18 2023-01-01        1.5  전북특별자치도     -0.4
19 2022-12-01        1.4  전북특별자치도     -1.4
20 2022-11-01        1.3  전북특별자치도      9.4
21 2022-10-01        1.4  전북특별자치도     13.8
22 2022-08-01        1.7  전북특별자치도     25.4
23 2022-07-01        1.6  전북특별자치도     25.9

In [ ]:
# 서울_진를 '서울_진.csv'로 저장
#서울.to_csv('서울_진.csv', index=False, encoding='utf-8-sig')
#경남.to_csv('경남_진.csv', index=False, encoding='utf-8-sig')
#경북.to_csv('경북_진.csv', index=False, encoding='utf-8-sig')
#광주.to_csv('광주_진.csv', index=False, encoding='utf-8-sig')
#대구.to_csv('대구_진.csv', index=False, encoding='utf-8-sig')
#대전.to_csv('대전_진.csv', index=False, encoding='utf-8-sig')
#인천.to_csv('인천_진.csv', index=False, encoding='utf-8-sig')
#부산.to_csv('부산_진.csv', index=False, encoding='utf-8-sig')
#세종.to_csv('세종_진.csv', index=False, encoding='utf-8-sig')
#울산.to_csv('울산_진.csv', index=False, encoding='utf-8-sig')
#전남.to_csv('전남_진.csv', index=False, encoding='utf-8-sig')
#전북.to_csv('전북_진.csv', index=False, encoding='utf-8-sig')
#충남.to_csv('충남_진.csv', index=False, encoding='utf-8-sig')
#충북.to_csv('충북_진.csv', index=False, encoding='utf-8-sig')
#제주.to_csv('제주_진.csv', index=False, encoding='utf-8-sig')
#강원도.to_csv('강원도_진.csv', index=False, encoding='utf-8-sig')
#경기도.to_csv('경기도_진.csv', index=False, encoding='utf-8-sig')

In [268]:
강원도 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\강원도_진.csv", encoding='utf-8-sig')
경기도 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\경기도_진.csv", encoding='utf-8-sig')
경남 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\경남_진.csv", encoding='utf-8-sig')
경북 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\경북_진.csv", encoding='utf-8-sig')
광주 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\광주_진.csv", encoding='utf-8-sig')
대구 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\대구_진.csv", encoding='utf-8-sig')
대전 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\대전_진.csv", encoding='utf-8-sig')
부산 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\부산_진.csv", encoding='utf-8-sig')
서울 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\서울_진.csv", encoding='utf-8-sig')
세종 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\세종_진.csv", encoding='utf-8-sig')
울산 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\울산_진.csv", encoding='utf-8-sig')
인천 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\인천_진.csv", encoding='utf-8-sig')
전남 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\전남_진.csv", encoding='utf-8-sig')
전북 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\전북_진.csv", encoding='utf-8-sig')
제주 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\제주_진.csv", encoding='utf-8-sig')
충남 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\충남_진.csv", encoding='utf-8-sig')
충북 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\기온+풍속\충북_진.csv", encoding='utf-8-sig')

In [269]:
df_all = pd.concat([강원도,경기도,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북], ignore_index=True)

In [270]:
df_all

        DATA_YM  평균풍속(m/s)  SIDO_NM  평균기온(℃)
0    2022-07-01        1.3  강원특별자치도     26.6
1    2022-08-01        1.2  강원특별자치도     25.2
2    2022-10-01        1.1  강원특별자치도     12.7
3    2022-11-01        0.9  강원특별자치도      7.5
4    2022-12-01        1.2  강원특별자치도     -4.9
..          ...        ...      ...      ...
403  2024-06-01        1.1     충청북도     22.8
404  2024-07-01        1.2     충청북도     25.9
405  2024-08-01        0.9     충청북도     27.6
406  2024-09-01        1.1     충청북도     24.2
407  2024-10-01        0.9     충청북도     14.9

[408 rows x 4 columns]

# 습도

In [237]:
습_202207 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202207.csv", encoding='euc-kr', skiprows=3)
습_202208 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202208.csv", encoding='euc-kr', skiprows=3)
습_202209 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202209.csv", encoding='euc-kr', skiprows=3)
습_202210 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202210.csv", encoding='euc-kr', skiprows=3)
습_202211 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202211.csv", encoding='euc-kr', skiprows=3)
습_202212 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202212.csv", encoding='euc-kr', skiprows=3)
습_202301 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202301.csv", encoding='euc-kr', skiprows=3)
습_202302 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202302.csv", encoding='euc-kr', skiprows=3)
습_202303 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202303.csv", encoding='euc-kr', skiprows=3)
습_202304 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202304.csv", encoding='euc-kr', skiprows=3)
습_202305 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202305.csv", encoding='euc-kr', skiprows=3)
습_202306 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202306.csv", encoding='euc-kr', skiprows=3)
습_202307 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202307.csv", encoding='euc-kr', skiprows=3)
습_202308 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202308.csv", encoding='euc-kr', skiprows=3)
습_202309 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202309.csv", encoding='euc-kr', skiprows=3)
습_202310 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202310.csv", encoding='euc-kr', skiprows=3)
습_202311 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202311.csv", encoding='euc-kr', skiprows=3)
습_202312 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202312.csv", encoding='euc-kr', skiprows=3)
습_202401 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202401.csv", encoding='euc-kr', skiprows=3)
습_202402 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202402.csv", encoding='euc-kr', skiprows=3)
습_202403 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202403.csv", encoding='euc-kr', skiprows=3)
습_202404 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202404.csv", encoding='euc-kr', skiprows=3)
습_202405 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202405.csv", encoding='euc-kr', skiprows=3)
습_202406 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202406.csv", encoding='euc-kr', skiprows=3)
습_202407 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202407.csv", encoding='euc-kr', skiprows=3)
습_202408 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202408.csv", encoding='euc-kr', skiprows=3)
습_202409 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202409.csv", encoding='euc-kr', skiprows=3)
습_202410 = pd.read_csv(r"C:\Users\dlwng\OneDrive\바탕 화면\sas\추가데이터\날씨변수\습도\습도202410.csv", encoding='euc-kr', skiprows=3)

In [238]:
sido_code_map = {
    '서울': '서울특별시',
    '부산': '부산광역시',
    '대구': '대구광역시',
    '인천': '인천광역시',
    '광주': '광주광역시',
    '대전': '대전광역시',
    '울산': '울산광역시',
    '세종': '세종특별자치시',
    '수원': '경기도',
    '제천': '충청북도',
    '천안': '충청남도',
    '여수': '전라남도',
    '안동': '경상북도',
    '김해시': '경상남도',
    '제주': '제주특별자치도',      # 2006년 1월 이후 제주도의 승격·개칭 
    '춘천': '강원특별자치도',      # 2023년 7월 이후 강원도의 승격·개칭 
    '군산': '전북특별자치도'       # 2023년 7월 이후 전라북도의 승격·개칭
}

In [241]:
weather_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11372 entries, 0 to 11371
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점번호       11372 non-null  int64
 1   지점명        11372 non-null  object
 2   시간         11372 non-null  object
 3   건조실효습도(%)  11372 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 355.5+ KB

In [239]:
# 1. 변수 리스트로 만들기
dfs = [
    습_202207, 습_202208, 습_202209, 습_202210, 습_202211, 습_202212,
    습_202301, 습_202302, 습_202303, 습_202304, 습_202305, 습_202306,
    습_202307, 습_202308, 습_202309, 습_202310, 습_202311, 습_202312,
    습_202401, 습_202402, 습_202403, 습_202404, 습_202405, 습_202406,
    습_202407, 습_202408, 습_202409, 습_202410
]

# 2. 모든 데이터 하나로 합치기
weather_all = pd.concat(dfs, ignore_index=True)

In [242]:
# 2. 시간 → datetime, YEAR_MONTH 생성
weather_all['시간'] = pd.to_datetime(weather_all['시간'])
weather_all['YEAR_MONTH'] = weather_all['시간'].dt.strftime('%Y%m')

In [243]:
# 3. 시도 매핑
sido_code_map2 = {
    '서울': '서울특별시', '부산': '부산광역시', '대구': '대구광역시',
    '인천': '인천광역시', '광주': '광주광역시', '대전': '대전광역시',
    '울산': '울산광역시', '세종': '세종특별자치시', '수원': '경기도',
    '제천': '충청북도', '천안': '충청남도', '여수': '전라남도',
    '안동': '경상북도', '김해시': '경상남도', '제주': '제주특별자치도',
    '춘천': '강원특별자치도', '군산': '전북특별자치도'
}

def get_sido_name(station_name):
    for key in sido_code_map2:
        if key in station_name:
            return sido_code_map2[key]
    return 'Unknown'

weather_all['SIDO_NM'] = weather_all['지점명'].apply(get_sido_name)

# 4. 평균 상대습도 계산
avg_reh = (
    weather_all
    .groupby(['SIDO_NM', 'YEAR_MONTH'])['건조실효습도(%)']
    .mean()
    .reset_index()
    .rename(columns={'건조실효습도(%)': 'AVG_REH'})
)

# 결과 미리보기 (앞부분만)
print(avg_reh.head())

   SIDO_NM YEAR_MONTH    AVG_REH
0  강원특별자치도     202207  73.280417
1  강원특별자치도     202208  73.892500
2  강원특별자치도     202209  74.016667
3  강원특별자치도     202210  72.392500
4  강원특별자치도     202211  64.135417

In [244]:
avg_reh.head(50)

    SIDO_NM YEAR_MONTH    AVG_REH
0   강원특별자치도     202207  73.280417
1   강원특별자치도     202208  73.892500
2   강원특별자치도     202209  74.016667
3   강원특별자치도     202210  72.392500
4   강원특별자치도     202211  64.135417
5   강원특별자치도     202212  43.578750
6   강원특별자치도     202301  58.645417
7   강원특별자치도     202302  55.424167
8   강원특별자치도     202303  44.899583
9   강원특별자치도     202304  34.293750
10  강원특별자치도     202305  50.435417
11  강원특별자치도     202306  56.967500
12  강원특별자치도     202307  64.680000
13  강원특별자치도     202308  61.597917
14  강원특별자치도     202309  67.750000
15  강원특별자치도     202310  64.137917
16  강원특별자치도     202311  69.856250
17  강원특별자치도     202312  47.464167
18  강원특별자치도     202401  72.773333
19  강원특별자치도     202402  54.058750
20  강원특별자치도     202403  44.869167
21  강원특별자치도     202404  44.409167
22  강원특별자치도     202405  41.835833
23  강원특별자치도     202406  47.917500
24  강원특별자치도     202407  60.950833
25  강원특별자치도     202408  63.106667
26  강원특별자치도     202409  58.947500
27  강원특별자치도     202410  62.522500
28      경기도     202207  63.550000
29      경기도     202208  64.651250
30      경기도     202209  69.091250
31      경기도     202210  65.297083
32      경기도     202211  63.235000
33      경기도     202212  47.847083
34      경기도     202301  60.699583
35      경기도     202302  51.223750
36      경기도     202303  46.977083
37      경기도     202304  43.993333
38      경기도     202305  57.879583
39      경기도     202306  62.240417
40      경기도     202307  69.888750
41      경기도     202308  62.242500
42      경기도     202309  67.703333
43      경기도     202310  63.972917
44      경기도     202311  66.254583
45      경기도     202312  47.926250
46      경기도     202401  72.037500
47      경기도     202402  54.397083
48      경기도     202403  44.970417
49      경기도     202404  47.560435

In [245]:
# 기존 YEAR_MONTH를 datetime으로 바꾼 뒤, "YYYY-MM-01" 형태로 포맷
avg_reh['DATA_YM'] = pd.to_datetime(avg_reh['YEAR_MONTH'], format='%Y%m').dt.strftime('%Y-%m-01')

In [246]:
avg_reh.head(50)

    SIDO_NM YEAR_MONTH    AVG_REH     DATA_YM
0   강원특별자치도     202207  73.280417  2022-07-01
1   강원특별자치도     202208  73.892500  2022-08-01
2   강원특별자치도     202209  74.016667  2022-09-01
3   강원특별자치도     202210  72.392500  2022-10-01
4   강원특별자치도     202211  64.135417  2022-11-01
5   강원특별자치도     202212  43.578750  2022-12-01
6   강원특별자치도     202301  58.645417  2023-01-01
7   강원특별자치도     202302  55.424167  2023-02-01
8   강원특별자치도     202303  44.899583  2023-03-01
9   강원특별자치도     202304  34.293750  2023-04-01
10  강원특별자치도     202305  50.435417  2023-05-01
11  강원특별자치도     202306  56.967500  2023-06-01
12  강원특별자치도     202307  64.680000  2023-07-01
13  강원특별자치도     202308  61.597917  2023-08-01
14  강원특별자치도     202309  67.750000  2023-09-01
15  강원특별자치도     202310  64.137917  2023-10-01
16  강원특별자치도     202311  69.856250  2023-11-01
17  강원특별자치도     202312  47.464167  2023-12-01
18  강원특별자치도     202401  72.773333  2024-01-01
19  강원특별자치도     202402  54.058750  2024-02-01
20  강원특별자치도     202403  44.869167  2024-03-01
21  강원특별자치도     202404  44.409167  2024-04-01
22  강원특별자치도     202405  41.835833  2024-05-01
23  강원특별자치도     202406  47.917500  2024-06-01
24  강원특별자치도     202407  60.950833  2024-07-01
25  강원특별자치도     202408  63.106667  2024-08-01
26  강원특별자치도     202409  58.947500  2024-09-01
27  강원특별자치도     202410  62.522500  2024-10-01
28      경기도     202207  63.550000  2022-07-01
29      경기도     202208  64.651250  2022-08-01
30      경기도     202209  69.091250  2022-09-01
31      경기도     202210  65.297083  2022-10-01
32      경기도     202211  63.235000  2022-11-01
33      경기도     202212  47.847083  2022-12-01
34      경기도     202301  60.699583  2023-01-01
35      경기도     202302  51.223750  2023-02-01
36      경기도     202303  46.977083  2023-03-01
37      경기도     202304  43.993333  2023-04-01
38      경기도     202305  57.879583  2023-05-01
39      경기도     202306  62.240417  2023-06-01
40      경기도     202307  69.888750  2023-07-01
41      경기도     202308  62.242500  2023-08-01
42      경기도     202309  67.703333  2023-09-01
43      경기도     202310  63.972917  2023-10-01
44      경기도     202311  66.254583  2023-11-01
45      경기도     202312  47.926250  2023-12-01
46      경기도     202401  72.037500  2024-01-01
47      경기도     202402  54.397083  2024-02-01
48      경기도     202403  44.970417  2024-03-01
49      경기도     202404  47.560435  2024-04-01

In [247]:
avg_reh['상대습도']=avg_reh['AVG_REH']

In [248]:
# 순서 정리
avg_reh = avg_reh[['DATA_YM', 'SIDO_NM', '상대습도']]

In [249]:
avg_reh[avg_reh['SIDO_NM']=="부산광역시"]

        DATA_YM SIDO_NM       상대습도
196  2022-07-01   부산광역시  76.952917
197  2022-08-01   부산광역시  70.705833
198  2022-09-01   부산광역시  70.111667
199  2022-10-01   부산광역시  59.029167
200  2022-11-01   부산광역시  55.252083
201  2022-12-01   부산광역시  37.255417
202  2023-01-01   부산광역시  40.246250
203  2023-02-01   부산광역시  36.821250
204  2023-03-01   부산광역시  46.907917
205  2023-04-01   부산광역시  42.157500
206  2023-05-01   부산광역시  55.176667
207  2023-07-01   부산광역시  69.694583
208  2023-08-01   부산광역시  54.730417
209  2023-09-01   부산광역시  69.274583
210  2023-10-01   부산광역시  49.578333
211  2023-11-01   부산광역시  47.620000
212  2023-12-01   부산광역시  31.436667
213  2024-01-01   부산광역시  48.935417
214  2024-02-01   부산광역시  54.479167
215  2024-03-01   부산광역시  47.316667
216  2024-04-01   부산광역시  54.590833
217  2024-05-01   부산광역시  62.237083
218  2024-06-01   부산광역시  51.563333
219  2024-07-01   부산광역시  71.663750
220  2024-08-01   부산광역시  62.952917
221  2024-09-01   부산광역시  59.028333
222  2024-10-01   부산광역시  58.670833

In [271]:
# 시도명 매핑 딕셔너리
sido_code_map = {
    '서울': '서울특별시', '부산': '부산광역시', '대구': '대구광역시',
    '인천': '인천광역시', '광주': '광주광역시', '대전': '대전광역시',
    '울산': '울산광역시', '세종': '세종특별자치시', "경기도":"경기도",
    '충북': '충청북도', '충남': '충청남도', '전남': '전라남도',
    '경북': '경상북도', '경남': '경상남도', '제주': '제주특별자치도',
    '강원도': '강원특별자치도', '전북': '전북특별자치도'
}

# SIDO_NM 컬럼 매핑
df_all['SIDO_NM'] = df_all['SIDO_NM'].map(sido_code_map).fillna(df_all['SIDO_NM'])

In [272]:
df_all['SIDO_NM'].value_counts()

SIDO_NM
강원특별자치도    24
세종특별자치시    24
충청남도       24
제주특별자치도    24
전북특별자치도    24
전라남도       24
인천광역시      24
울산광역시      24
서울특별시      24
경기도        24
부산광역시      24
대전광역시      24
대구광역시      24
광주광역시      24
경상북도       24
경상남도       24
충청북도       24
Name: count, dtype: int64

In [273]:
df_all[df_all['SIDO_NM'] == '부산광역시']

        DATA_YM  평균풍속(m/s) SIDO_NM  평균기온(℃)
168  2022-07-01        2.6   부산광역시     26.2
169  2022-08-01        3.7   부산광역시     26.4
170  2022-10-01        3.1   부산광역시     17.6
171  2022-11-01        2.7   부산광역시     14.4
172  2022-12-01        3.3   부산광역시      3.3
173  2023-01-01        3.2   부산광역시      3.8
174  2023-03-01        3.3   부산광역시     12.3
175  2023-06-01        3.2   부산광역시     22.5
176  2023-07-01        3.5   부산광역시     25.5
177  2023-08-01        3.1   부산광역시     27.8
178  2023-09-01        2.7   부산광역시     24.5
179  2023-10-01        2.8   부산광역시     18.3
180  2023-11-01        3.5   부산광역시     11.8
181  2023-12-01        3.2   부산광역시      6.4
182  2024-01-01        3.2   부산광역시      5.1
183  2024-02-01        3.5   부산광역시      7.4
184  2024-03-01        3.7   부산광역시      9.6
185  2024-04-01        2.7   부산광역시     15.9
186  2024-05-01        3.5   부산광역시     18.6
187  2024-06-01        3.0   부산광역시     22.6
188  2024-07-01        4.4   부산광역시     26.0
189  2024-08-01        3.2   부산광역시     29.1
190  2024-09-01        2.8   부산광역시     26.7
191  2024-10-01        3.1   부산광역시     19.5

In [274]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATA_YM    408 non-null    object
 1   평균풍속(m/s)  408 non-null    float64
 2   SIDO_NM    408 non-null    object
 3   평균기온(℃)    408 non-null    float64
dtypes: float64(2), object(2)
memory usage: 12.9+ KB

In [275]:
df_all = pd.merge(
    df_all,
    avg_reh[['SIDO_NM', 'DATA_YM', '상대습도']],
    on=['SIDO_NM', 'DATA_YM'],
    how='left'
)

In [276]:
df_all = df_all[['DATA_YM', 'SIDO_NM', '상대습도', '평균기온(℃)','평균풍속(m/s)']]

In [277]:
# NaN 생긴 행만 보기
df_all[df_all['상대습도'].isnull()][['SIDO_NM', 'DATA_YM']].drop_duplicates()

    SIDO_NM     DATA_YM
175   부산광역시  2023-06-01

In [278]:
df_all.loc[
    (df_all['SIDO_NM'] == '부산광역시') & (df_all['DATA_YM'] == '2023-06-01'),
    '상대습도'
] = 72.0

In [279]:
df_all.isnull().sum()

DATA_YM      0
SIDO_NM      0
상대습도         0
평균기온(℃)      0
평균풍속(m/s)    0
dtype: int64

In [280]:
df_all.describe()

             상대습도     평균기온(℃)   평균풍속(m/s)
count  408.000000  408.000000  408.000000
mean    59.138293   15.875980    1.920098
std      9.728625    9.597715    0.843526
min     31.436667   -4.900000    0.500000
25%     52.494375    7.875000    1.300000
50%     59.717917   16.350000    1.700000
75%     66.592292   25.400000    2.400000
max     81.200417   29.300000    4.600000

In [282]:
# 불쾌지수 계산 함수
def calculate_discomfort_index(temp, humidity):
    return 0.81 * temp + 0.01 * humidity * (0.99 * temp - 14.3) + 46.3

# 적용
df_all['불쾌지수'] = calculate_discomfort_index(df_all['평균기온(℃)'], df_all['상대습도'])

In [284]:
df_all = df_all[['DATA_YM', 'SIDO_NM', '상대습도', '평균기온(℃)','평균풍속(m/s)','불쾌지수']]

In [285]:
df_all

        DATA_YM  SIDO_NM       상대습도  평균기온(℃)  평균풍속(m/s)       불쾌지수
0    2022-07-01  강원특별자치도  73.280417     26.6        1.3  76.664565
1    2022-08-01  강원특별자치도  73.892500     25.2        1.2  74.580073
2    2022-10-01  강원특별자치도  72.392500     12.7        1.1  55.336782
3    2022-11-01  강원특별자치도  64.135417      7.5        0.9  47.965690
4    2022-12-01  강원특별자치도  43.578750     -4.9        1.2  33.985234
..          ...      ...        ...      ...        ...        ...
403  2024-06-01     충청북도  53.242083     22.8        1.1  69.172185
404  2024-07-01     충청북도  67.849167     25.9        1.2  74.973774
405  2024-08-01     충청북도  71.987917     27.6        0.9  78.031706
406  2024-09-01     충청북도  66.961250     24.2        1.1  72.369118
407  2024-10-01     충청북도  69.310417     14.9        0.9  58.681590

[408 rows x 6 columns]

In [286]:
def 불쾌지수_범주화(di):
    if di < 75:
        return '쾌적'
    elif di < 80:
        return '약간 불쾌'
    elif di < 85:
        return '불쾌'
    else:
        return '매우 불쾌'

# 컬럼 생성
df_all['불쾌지수_등급'] = df_all['불쾌지수'].apply(불쾌지수_범주화)

In [287]:
def calc_apparent_temp(T, V):
    return 13.12 + 0.6215 * T - 11.37 * (V ** 0.16) + 0.3965 * T * (V ** 0.16)

df_all['체감온도'] = calc_apparent_temp(df_all['평균기온(℃)'], df_all['평균풍속(m/s)'])

In [288]:
def 체감온도_범주화(diz):
    if diz < 27:
        return '쾌적'
    elif diz < 31.9:
        return '주의'
    elif diz < 40.9:
        return '경고'
    elif diz < 53.9:
        return '심각'
    else:
        return '매우 위험'

# 컬럼 생성
df_all['체감온도_등급'] = df_all['체감온도'].apply(체감온도_범주화)

In [289]:
df_all['불쾌지수_등급'].value_counts()

불쾌지수_등급
쾌적       332
약간 불쾌     76
Name: count, dtype: int64

In [290]:
df_all['SIDO_NM'].value_counts()

SIDO_NM
강원특별자치도    24
세종특별자치시    24
충청남도       24
제주특별자치도    24
전북특별자치도    24
전라남도       24
인천광역시      24
울산광역시      24
서울특별시      24
경기도        24
부산광역시      24
대전광역시      24
대구광역시      24
광주광역시      24
경상북도       24
경상남도       24
충청북도       24
Name: count, dtype: int64

In [291]:
df_all['체감온도_등급'].value_counts()

체감온도_등급
쾌적    295
주의    113
Name: count, dtype: int64

In [292]:
df_all.to_csv('기온real.csv', index=False, encoding='utf-8-sig')